<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="LogIn">
    <setting label="You are not logged in" type="lsep" visible="eq(3,false)"/>
    <setting label="You are logged in" type="lsep" visible="eq(2,true)"/>
    <setting label="32001" type="action" action="RunScript(special://home/addons/script.simkl/resources/lib/simklapi.py, login, special://xbmc/)"/>
    <setting label="If you see this, report to github" type="bool" id="loginbool" default="true" enable="false" visible="false"/>
  </category>
  <setting type="sep"/>
  <category label="Options">
    <setting label="32002" type="lsep"/>
    <setting label="Scrobbler" type="lsep"/>
    <setting label="Auto-scrobble" type="bool" id="autoscrobble" default="true" enable="false"/>
    <setting label="32006" type="slider" id="scr-pct" default="70" range="0,100" option="percent" enable="gt(-1,-2)" />
    <setting label="32007"     type="slider" id="sct-w-pct" default="10" range="0,100" option="
      percent" visible="false"/>
    <setting label="32008" type="bool" id="bubble" default="true" enable="true"/>
  </category>
  <category label="Syncing">
    <setting label="Sync now" type="action" action="UpdateLibrary(video)"/>
    <setting label="32003" type="bool" id="synclib" default="false"/>
    <setting label="Movies" type="lsep" visible="eq(-1,true)"/>
    <setting label="Pull movies" id="movie-pull" type="bool" default="true" visible="eq(-2,true)"/>
    <setting label="Push movies" id="movie-push" type="bool" default="true" enable="true" visible="eq(-3,true)"/>
    <setting label="Pull mode" id="movie-mode" type="labelenum" values="complete" visible="eq(-4,true)"/>
    <setting label="TV Shows" type="lsep" visible="eq(-5,true)"/>
    <setting label="Pull TV Shows" id="shows-pull" type="bool" default="true" visible="eq(-6,true)"/>
    <setting label="Push TV Shows" id="shows-push" type="bool" default="false" enable="false" visible="eq(-7,true)"/>
    <setting label="Pull mode" id="shows-mode" type="labelenum" values="complete" visible="eq(-8,true)"/>
  </category>
</settings>
